@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap')
@import 'mixin.scss'

:root
    --bg-primary: 27,27,27
    --bg-primary-l: 47, 47, 47
    --c-white: 255,255,255
    --c-red: 231,61,68
    --c-black: 0, 0, 0
    --c-facebook: 59, 89, 152
    --c-twitter: 0, 172, 238
    --c-youtube: 196, 48, 43
    --c-instagram: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%)

    --f-Raleway:  "Raleway"

html
    font-size: 10px
body
    font-size: 1.3rem
    font-family: var(--f-Raleway)
    font-weight: 500
.content
    margin: 0px auto
    width: 100%
    padding: 0 30px
    box-sizing: border-box

    @include sm
        width: 576px
    @include md
        width: 768px
        // background: #800
    @include lg
        width: 992px
        // background: #500
    @include xl
        width: 1230px
        // background: #300
    @include xxl
        width: 1230px
        // background: #000

    // @include xxl
    //     width: 1230px
    //     background: #000
    // @include xl
    //     width: 1230px
    //     background: #300
    // @include lg
    //     width: 992px
    //     background: #500
    // @include md
    //     width: 768px
    //     background: #800
    // @include sm
    //     width: 576px
    //     background: #a00

.header
    &__top
        padding: 9px 0 8px
        background: rgb(var(--bg-primary))
        color: rgba(var(--c-white), 0.9)
        font-size: 1.3rem
        line-height: 2.6rem
        border-bottom: 1px solid #000
        font-family: var(--f-Raleway)
        & a
            color: rgb(var(--c-white))
            text-decoration: none
            transition: 0.1s ease
            &:hover
                color: rgb(var(--c-red))
            
        &__container
            justify-content: space-between 
            height: 100%
        &__row
            height: 100%
            height: 2.6rem
            align-items: center
        &__left
            text-align: center
            align-items: center
            justify-content: start
            & > div
                padding: 0
                margin: 0 1rem 0 0.5rem
        &__right
            align-items: center
            text-align: center
            justify-content: end
    &__main
        &__row
            align-items: center
            justify-content: space-between
        &__logo
            padding: 20px 0
            height: 100px

        &__market
            & .cart
                margin: 0 auto
                position: relative
                width: 40px
                height: 40px
                text-align: center
                line-height: 40px
                border-radius: 50%
                border: 1px solid rgb(var(--bg-primary))
                transition: 0.1s ease
                color: rgb(var(--bg-primary))
                &:hover
                    background: rgb(var(--bg-primary))
                    color: rgb(var(--c-white))
                    cursor: pointer
                & span
                    position: absolute
                    margin: 0
                    width: 16px
                    height: 16px
                    line-height: 16px
                    top: -5px
                    right: -5px
                    border-radius: 50%
                    background: rgb(var(--c-red))
        
    &__bottom
        background: rgb(var(--bg-primary))
        width: 100%
        height: 50px
        &__wrap
            height: 100%
            position: relative
        &__left
            color: rgb(var(--c-white))
            display: inline-block
            margin: 0
            padding: 0
            & > p
                margin: 0
        &__right
            text-align: center
            display: inline-block
            
            & ul
                margin: 0
                & li
                    text-transform: uppercase
                    display: inline-block
                    font-size: 1.3rem
                    margin: 0 20px
                    font-weight: 300
                    & a
                        text-decoration: none
                        color: rgba(var(--c-white), .7)
                        transition: 0.1s ease
                        &:hover
                            color: rgb(var(--c-white))
                        &.active
                            color: rgb(var(--c-red))
.nav
    background: #ccc
    position: absolute
    top: 5rem
    z-index: 100
    display: none
    &__wrap
        height: 100%
        position: absolute
        &:hover
            z-index: 100
            & .nav
                display: block
    &__btn
        border: none
        color: rgb(var(--c-white))
        background: transparent
        position: absolute
        bottom: 0
        height: 100%
    &__item
        border-top: 1px solid rgba(var(--c-black), .2) 
    &__link
        text-decoration: none
        color: rgb(var(--c-black))
    &__list
        padding: 0
        
            
.search
    display: flex
    padding: 0
    &__button
        width: 50px !important
        height: 50px
        background: rgb(var(--c-red))
        border: none
        transition: 0.1s ease
        padding: 0
        &:hover
            opacity: 0.8
.big
    padding: 0
    height: 100%
    &__text
        &__1
            position: absolute
            inset: 25% 0
            & p
                position: absolute
                &:nth-child(1)
                    left: 0
                    right: 0
                    top: 0
                    font-size: 4.8rem 
                    font-weight: 200
                    opacity: 0
                    animation: 1.5s ease-in-out forwards text 
                    z-index: 3
                &:nth-child(2)
                    top: 7.2rem
                    left: 0
                    right: 0
                    font-size: 3vw
                    text-transform: uppercase
                    font-weight: 800
                    opacity: 0
                    animation: 1.5s ease-in-out .5s forwards text
                    z-index: 2
                    // @include md
                    //     font-size: 
                    // @include xl
                    //     font-size: 7rem
                    //     top: 9rem
                &:nth-child(3)
                    top: 20.8rem
                    left: 0
                    right: 0
                    font-size: 4.8rem
                    font-weight: 200
                    text-transform: uppercase
                    opacity: 0
                    animation: 1.5s ease-in-out 1s forwards text
                    z-index: 1
                    @include xl
                        font-size: 2.8rem
        &__2
            color: #fff
            // background: rgba(var(--c-red), 0.5)
            inset: 0
            & > img
                text-align: left
                width: 100px
                filter: drop-shadow(0 0 1px rgb(var(--c-white)))
                top: 0
                left: 0
.carousel-big
    background: #a00
    &__context
        position: absolute
        inset: 5%
        color: rgb(var(--c-white))
        & h5
            font-size: 4rem
            font-weight: 700
        & p
            font-size: 1.6rem
    &__item
        position: relative
    &__logo
        width: 100px
        filter: drop-shadow(0px 0px 5px #fff) drop-shadow(0px 0px 5px #000) drop-shadow(0px 0px 5px #000)
.small
    &__row
        height: 100%
        & > div
            padding: 10px
            box-sizing: border-box
            position: relative
    &__link
        display: block
    &__item
        position: relative
        overflow: hidden
        width: 100%
        
        &:hover > img
            transform: scale(1.3)
        & > img
            width: 100%
            height: 163px
            object-fit: cover
            transition: 0.6s ease
        & span
            position: absolute
            bottom: 10px
            left: 10px
            color: rgb(var(--c-white))
            font-size: 2rem
            text-shadow: 0 0 3px rgb(var(--bg-primary)), 0 0 3px rgb(var(--bg-primary))

@keyframes text
    0%
        opacity: 0
        top: -10px
        transform: translateY(-150px) scale(0.5)
    30%
        opacity: 0
    100%
        opacity: 1
        // top: 0
        transform: translateY(0px) scale(1.0)            

.hero
    &__wrap
        height: 100%
    &__row
        height: 100%
        &__top
            padding: 0
            height: 550px
            overflow: hidden
    &__info
        border: 1px solid rgba(var(--bg-primary), .1)
        align-content: center
        &__icon
            color: rgb(var(--c-red))
            display: inline-block
            font-size: 4rem
            box-sizing: border-box
            text-align: center
        &__text
            box-sizing: border-box
            display: inline-block
            text-align: center
        &__card
            justify-content: center
            color: rgb(var(--bg-primary))
            text-decoration: none

        &__item
            &:nth-child(2)
                border-left: 1px solid rgba(var(--bg-primary), .1)
                border-right: 1px solid rgba(var(--bg-primary), .1)
.star
    justify-content: center
    width: 100px !important
    padding: 0
    & i
        &.fa-solid
            color: #fc0
        &.fa-regular
            color: rgba(var(--bg-primary), .4)
    &__clay
        position: relative
        display: inline-block
        margin: 0
        width: 1rem
        height: 1rem
        & > i
            &.fa-solid
                position: absolute
                top: 0
                left: 0
                z-index: 2
                
            &.fa-regular
                position: absolute
                top: 0
                left: 0.1px
                z-index: 1

    & i
        margin: 0
        padding: 0
    
.main
    &__line
        position: relative
        border-bottom: 1px solid rgba(var(--bg-primary), .2)
        height: 30px
        margin-bottom: 10px 
        & > p
            position: absolute
            top: 1px
            left: 5px
            margin: 0
            z-index: 2
            font-size: 1.6rem
            color: rgb(var(--bg-primary))
            display: inline-block
            height: 100%
            border-bottom: 1px solid rgb(var(--c-red))
        & ul
            display: flex
            justify-content: end
            align-items: center
            margin: 0
            padding: 0
            height: 100%
            & li
                display: inline-block
                padding: 0 0.5rem
                & a
                    color: #000
                    text-decoration: none
                    transition: 0.2s ease
                    &.active,
                    &:hover
                        color: rgb(var(--c-red))
                
    &__week
        margin-bottom: 10px 
        &__products
            justify-content: center
            height: 100%
            width: 100%
            margin: 0
        &__left
            padding: 0
            &__row
                height: 100%
                position: relative
                
                &.carousel-indicators
                    bottom: 0
                    margin-right: 0
                    margin-bottom: 0
                    margin-left: 0
                    & [data-bs-target]
                        background: transparent
                        border-radius: 0
                        height: 100%
                        width: 100%
                        border-top: none
                        border-bottom: none
                        border: none
                        box-sizing: border-box
                        text-indent: 0
                        opacity: 1
                        

            &__item
                height: 25%
                border-bottom: 1px solid rgba(var(--bg-primary), .4)
                padding: 0
                &:last-child
                    border-bottom: none
                &:hover img
                    border: 2px solid rgba(var(--c-red), 0.7)
            &__link
                display: flex
                width: 100%
                height: 100%
                padding: 0
                margin: 0
                border: 0
                box-sizing: border-box
                &.active
                    & img
                        border: 2px solid rgb(var(--c-red))
                        
            &__img
                height: 100%
                width: 40%
                padding: 2%
                box-sizing: border-box
                & img
                    
                    width: 100%
                    height: 100%
                    object-fit: cover
                    border: 2px solid transparent
                    transition: 0.2s ease
                        
                        

            &__context
                width: 60%
                margin: 5%
                text-align: left
                & .title
                    color: rgb(var(--bg-primary))
                    font-size: calc(1rem + .4vw)
                & p
                    margin: 0
                & .price
                    color: rgba(var(--bg-primary), 1)
                    margin-left: 20%
                    &__old
                        color: rgba(var(--bg-primary), 0.4)
                        text-decoration: line-through rgba(var(--bg-primary), 0.6)
                        margin-left: 10%
        &__right
            background: #a00
            padding: 0
            &__wrap
                background: #0a0
    &__banner-one
        &__wrap
            width: 100%
            position: relative
            overflow: hidden
            &:hover > img
                transform: scale(1.15) 
        &__item
            position: relative
            margin: 0 auto
            &:first-child
                & > div > div
                    width: 200px
                    height: 100%
                    padding: 5% 0
                    top: 0
                    left: 10px
                    right: auto
            &:last-child
                & > div > div
                    width: 200px
                    padding: 5% 0
                    height: 100%
                    top: 0
                    left: auto
                    right: 10px  

        &__left
            text-align: left
        &__right
            text-align: right
            & .button
                float: right
                margint-left: auto
        & img
            width: 100%
            transition: 0.6s ease
            height: 100%
            object-fit: contain

        &__context
            position: absolute
            color: #fff
            & h2
                font-size: 1.7rem
                font-weight: bold
                margin-bottom: 10px
            & .button
                margin: 10% 0
.banner
    position: relative
    width: 100%
    padding: 0
    margin: 0
    overflow: hidden
    &__img
        width: 100%
        object-fit: contain
    &__context
        position: absolute
        color: #fff
        z-index: 1
        inset: 10px
        &__left
            padding: 2%
            & h2
                font-size: 3rem
            & p
                font-size: 2rem
        &__right
            align-self: center
            text-align: center
            & a
                & svg
                    height: 5vh
                    transition: 0.4s ease
                    filter: drop-shadow(0 0 1px #fff) drop-shadow(0 0 1px #fff)
                &:hover
                    & svg
                        filter: drop-shadow(0 0 1px #fff) drop-shadow(0 0 2px #fff) drop-shadow(0 0 2px #fff)
.button 
    position: static
    text-transform: uppercase
    text-decoration: none
    color: #fff
    display: block
    text-align: center
    line-height: 3.6rem
    width: 120px
    height: 3.6rem
    box-sizing: border-box
    background: rgb(var(--c-red))
    padding: 0
    font-size: 1.2rem
    transition: 0.2s ease

.photo
    &__link
        display: block
        height: 250px
        width: 100%
        overflow: hidden
        @include md
            height: 550px
        @include xl
            height: 750px
    &__img
        object-fit: cover
        object-position: 70% 50%
        width: 100%
        height: 100%


    &__item

.social
    &__title
        width: 100%
        font-size: 1.5rem
        line-height: 2.2rem
        font-weight: 600
        text-transform: uppercase
        margin: 3rem 0 3rem
    &__list
        display: flex
        margin: 3rem 0 6rem
        padding: 0
    &__item
        position: relative
        margin-right: 0.5rem
    &__link
        display: flex
        justify-content: center
        align-items: center
        border: 1px solid rgba(var(--c-white), .2)
        width: 4rem
        height: 4rem
        border-radius: 50%
        text-decoration: none
        
        transition: 0.1s ease
        &.social
            &__instagram
                & span,
                & span::after
                    background: var(--c-instagram)
            &__facebook
                & span,
                & span::after
                    background: rgb(var(--c-facebook))
            &__twitter
                & span,
                & span::after
                    background: rgb(var(--c-twitter))
            &__youtube
                & span,
                & span::after
                    background: rgb(var(--c-youtube))
        &:hover
            background: #333
            border: 1px solid rgba(var(--c-white), 0)
            & span
                opacity: 1
                top: -2.6rem
            &.social
                &__instagram
                    background: var(--c-instagram)
                &__facebook
                    background: rgb(var(--c-facebook))
                &__twitter
                    background: rgb(var(--c-twitter))
                &__youtube
                    background: rgb(var(--c-youtube))

            

    &__icon
        color: rgb(var(--c-white))
        font-size: 1.4rem
    &__text
        position: absolute
        opacity: 0
        width: 6rem
        height: 2rem
        font-size: 1rem
        text-align: center
        padding: 0.1rem
        background: #333
        color: rgb(var(--c-white))
        top: -3rem
        left: -50%
        transition: 0.5s ease
        &::after
            content: ''
            bottom: -0.3rem
            left: 2.8rem
            position: absolute
            background: #333
            height: 0.5rem
            width: 0.5rem
            transform: rotate(45deg)
// .prod
.context
    &__img
        width: 15rem
        height: auto
        margin-bottom: 10px 
    &__text     
        font-size: 1.3rem
        line-height: 2.6rem
        color: rgba(var(--c-white), 0.5)
        padding-right: 2.5rem
        
.footer
    background: rgb(var(--bg-primary))
    color: rgb(var(--c-white))
    &__wrap
        display: flex
        flex-wrap: wrap
        padding: 8rem 30px 4rem 
    &__left
        width: 100%
        @include md
            width: 100%
        @include lg
            width: 50%         
        @include xl
            width: 33%


        
        
    &__center
        display: flex
        width: 100%
        justify-content: space-around
        @include md
            width: 50%        
        @include xl
            width: 33%


    &__right
        width: 100%
        @include md
            width: 100% 
        @include xl
            width: 33%                   
        
    &__bottom
        &__wrap
            display: flex
            justify-content: space-between
            align-items: center
            border-top: 1px solid rgba(var(--c-white), 0.2) 
            padding: 6rem 0 2rem
.menu
    margin: 0 10px
    &__title
        text-transform: uppercase
    &__list
        // background: rgba(200, 0, 0, 0.1)
        padding: 0
    
    &__link
        display: block
        padding: 0.8rem 0
        text-decoration: none
        color: rgba(var(--c-white), 0.5)
        transition: 0.1s ease
        &:hover
            color: rgba(var(--c-red), 1)
.scroll-top
    display: flex
    justify-content: center
    align-items: center
    background: rgb(var(--bg-primary-l))
    color: rgb(var(--c-white))
    text-decoration: none
    width: 5rem
    height: 5rem
    font-size: 2rem
    position: fixed
    bottom: 0
    right: 0
    z-index: 100